.jumbotron {
    color: black;
    margin-top:55px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 50px;
}

.card-servicio {
    flex: 1 375px;
    padding: 10px 30px 10px 30px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-consultas{
    flex: 1 100px;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.btn-reserva {
    width: 100%;
    border-radius: 20px;
}

.footer-address-icon {
    padding-right: 10px;
}

.iconos {
    padding-right: 10px;
}

.tab-content {
    padding-top: 30px;
}

.carousel {
    width: 320px; 
    height: 240px; 
    margin: auto;
   }